.parent {
  outline: 5px solid hotpink;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cluster {

  display: flex;
  outline: 1px solid blue;
  min-width: 100px;
  
}

